<!DOCTYPE html>
<html ng-app="projectpage" lang="en">
	<head>
        <meta charset="utf-8">
        <meta name="description" content="Profile Webpage">
        <meta name="keywords" content="HTML,CSS,JavaScript,PHP,JAMK">
        <meta name="author" content="Borhan Amini">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projektit-angularJS</title>
		<link rel="stylesheet" type="text/css" href="application.css">
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="projects.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        
	</head>
    <body id="body" ng-controller="ProjectpageController as page">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
				  <li class="active"><a href="../index.php">Etusivu</a></li>
				  <li><a href="documentation.html">Documentation</a></li>
				  <li><a href="00-php-syntax-highlighter.php">Source codes</a></li>
				</ul>
				<form class="navbar-form navbar-right">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search">
					<div class="input-group-btn">
					  <button class="btn btn-default" type="submit">Search!</button>
					</div>
				</div>
				</form>
			</div>
		</nav>

			<!--  Projects Container  -->
			<div id="main_section" class="list-group">
				<!--  Project Container  -->
				<div class="list-group-item" ng-repeat="project in page.projects">
					<h3> {{project.name}} </h3>

					<!-- Image Gallery  -->
					<project-gallery></project-gallery>

					<!-- Project Tabs  -->
					<tab-group>
						<tab title="Description">
							<project-description item="project"></project-description>
						</tab>
						<tab title="Specs">
							<div project-specs item="project"></div>
						</tab>
						<tab title="Reviews">
							<project-reviews reviewed-project="project"></project-reviews>
						</tab>
					</tab-group>
				</div>
			</div>
        
        <footer class="footer">
			<address style="font-size:16px">
			<h3>Yhteystiedot</h3>
            <p>Sähköposti: <a href="mailto:borhan.amini@gmail.com" class="email">borhan.amini@gmail.com</a><p><br>
			</address>
		</footer>
	</body>
</html>