<div class="img-wrap-cont" ng-show="project.images.length">
	<div class="img-wrap">
		<img ng-src="{{project.images[gallery.current]}}" />
	</div>
	<ul class="img-thumbnails clearfix">
		<li class="small-image pull-left thumbnail" ng-repeat="image in project.images">
			<img ng-src="{{image}}" ng-click="gallery.setCurrent($index)" />
		</li>
	</ul>
</div>