<!--  Spec Tab's Content  -->
<h4>Specs</h4>
<ul class="list-unstyled">
	<li>
		<strong>Area</strong>: {{item.area}}
	</li>
	<li>
		<strong>Floors</strong>: {{item.floors}}
	</li>
	<li>
		<strong>Structure</strong>: {{item.structure}}
	</li>
</ul>